---
import Layout from "../../layouts/Layout.astro";
import ScriptCard from "../../components/ScriptCard.astro";
import Home from "../../components/Home.astro";

export async function getStaticPaths() {
  const allScripts = Object.values(
    import.meta.glob("../scripts/*.mdx", { eager: true })
  );

  const uniqueTags = [
    ...new Set(allScripts.map((script: any) => script.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredScripts = allScripts.filter((script: any) =>
      script.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { scripts: filteredScripts },
    };
  });
}

const { tag } = Astro.params;
const { scripts } = Astro.props;
---

<Layout>
  <h1>Scripts tagged "{tag}".</h1>
  <Home />
  <ul class="scriptlist">
    {
      scripts.map((script: any) => (
        <ScriptCard
          url={script.url}
          title={script.frontmatter.title}
          description={script.frontmatter.description}
          version={script.frontmatter.version}
          tags={script.frontmatter.tags}
        />
      ))
    }
  </ul>
</Layout>

<style>
  .scriptlist {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
  }
</style>
